* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

/* Main Content Start*/
.main-content {
  background-image: linear-gradient(rgba(23, 22, 22, 0.1), rgb(33, 30, 30)),
    url(../img/quran2.jpg);
  background-size: cover;
}

.main-content h3 {
  color: rgb(41, 172, 169);
}

.main-content a {
  color: black;
  background: white;
  transition: 0.2s;
  text-decoration: none;
}

.main-content a:hover {
  background: rgb(82, 205, 203);
  color: white;
}
/* Main Content Close */

/* Wakaf Introduction Start */
.explanation {
  box-shadow: 10px 10px 10px 10px rgb(74, 71, 71);
}

.gallery {
  transform: rotate(-2.5deg);
  color: white;
  padding: 5px;
  background: rgb(63, 184, 182);
}

.slider {
  box-shadow: 10px 10px 10px black;
  position: relative;
  width: 100%;
  max-width: 800px;
  overflow: hidden;
  border-radius: 10px;
}
.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}
.slide {
  min-width: 100%;
  transition: opacity 1s ease-in-out;
}
.slide img {
  width: 100%;
  display: block;
}
/* Wakaf Introduction Close */

/* Wakaf Quran Start */
.description {
  margin-top: -20px;
  font-size: 14px;
}

.wakaf-list {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wakaf-link {
  transition: 0.2s;
  width: 100px;
  text-decoration: none;
  color: white;
  background: rgb(82, 205, 203);
}

.wakaf-link:hover {
  background: rgb(62, 174, 173);
}
/* Wakaf Quran Close */

/* Footer Section Start */
#footer {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  background: white;
}

#footer h1 {
  color: rgb(54, 149, 148);
  font-weight: 600;
  text-shadow: 0px 0px 1px black;
}

.social-links i {
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  background: black;
  color: white;
  margin-left: 10px;
  margin-bottom: 10px;
  transition: 0.5s ease;
  cursor: pointer;
}

.social-links i:hover {
  background: rgb(54, 149, 148);
}
/* Footer Section End */
